div.container {
  width: 600px;
  margin: 20px auto;
  color: #00687F;
}

div.new_game {
  width: 600px;
  margin: 20px auto;
  font-family: 'Arial Black', sans-serif;
  color: #00687F;
}

div.new_game form {
  width: 300px;
}

div.new_game input {
  border-radius: 10px;
  border: 2px solid #FFC604;
  margin-bottom: 10px;
  color: gray;
  padding: 6px;
  padding-left: 7px;
}

div.new_game input:focus {
  outline: none;
}

div.new_game button:focus {
  outline: none;
}

div.race_track {
  background-color: white;
  width: 595px;
}

.race_track p {
  padding: 0px;
  margin: 0px;
}

.race_track ul {
  margin-top: 0px;
  float: left;
  background-color: white;
  width: 100%;
  padding: 5px;
  border: 2px solid #FFC604;
  border-radius: 5px;
}

.race_track ul:last-child {
  clear: left;
}
.race_track li {
  background-color: white;
  list-style-type: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #00D0FF;
  border-radius: 2px;
}

li.active {
  background-color: #FC226F;
  border: 1px solid #FC226F;
  border-radius: 2px;
}

button, button a {
  border-radius: 5px;
  border: 5px solid #00D0FF;
  background-color: #00D0FF;
  color: #FFFFFF;
  text-decoration: none;
}

a#game_stats {
  color: #00D0FF;
  text-decoration: none;
}

.countdown {
  width: 600px;
  height: 800px;
  background-color:#00D0FF;
  border-radius: 10px;
  color: #FFFFFF;
  text-decoration: none;
  box-shadow: 0px 1px 5px #006792, 0px -1px 5px white;
  text-shadow: 0px 1px 2px #008DBA, 0px -1px 2px white;
  border-radius: 15px;
  font-size: 40em;
  text-align: center;
  margin: auto;
  line-height: 800px;
}
div.game_stat {
  margin: 0 auto;
  margin-top: 200px;
  width: 50%;
  height: 350px;
  background-color:#00D0FF;
  border-radius: 10px;
  color: #FFFFFF;
  text-decoration: none;
  box-shadow: 0px 1px 5px #006792, 0px -1px 5px white;
  text-shadow: 0px 1px 2px #008DBA, 0px -1px 2px white;
}

div.game_stat p {
  padding: 40px;
  text-align: center;
  font-size: 2em;
} 

div.game_stat p:first-child {
  padding-top: 100px;
  padding-bottom: 0px;
}

div.game_stat #new_game {
  position: fixed;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px 5px 0px;
}

/*select {
  border-radius: 5px;
  border: 5px solid #00D0FF;
  background-color: #00D0FF;
  color: white;
  text-decoration: none;
  outline: none;
  margin-bottom: 10px;
  padding: 0px 10px;
}*/

.multiplayer button[name="more_players"] {
  padding: 0px 2px;
}

.multiplayer button[name="less_players"] {
  padding: 0px 4px;
}

.multiplayer {
  padding-bottom: 10px;
}

ul.number_of_players {
  padding-left: 0px;
  width: 30px;
  display: inline;
}

ul.number_of_players li {
  border-radius: 5px;
  border: 5px solid #1ABC9C;
  background-color: #1ABC9C;
  color: white;
  text-decoration: none;
  outline: none;
  margin-bottom: 10px;
  padding: 0px 5px;
  display: inline;
}

::-webkit-input-placeholder {
  color: #E1E1E1;
}
