<div class="new_game">
  <h1>Welcome to RRRRRRRrrrrracer</h1>

  <form name="new_game" action="/game" method="post">
    <input type="text" name="new_game[player1]" placeholder="Player 1" />
    <input type="text" name="new_game[player2]" placeholder="Player 2" />
    <input type="tex" name="new_game[track_length]" placeholder="track length" default="10" />
    <button type="submit">Start Game!</button>
  </form>
</div>
